<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Start</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header> 
        Website by <a href="{% url 'credits' %}"> &nbsp; CodeJam on Pancakes</a>
    </header>
    <div class="right">
        <p>Simulation started...</p>
            <a  href="{% url 'seeNotifs' %}">
                <button>
                    <span>See results &nbsp;</span>
                </button>
            </a>
    </div>
</body>
</html>