<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Credits</title>
</head>
<body>
    <header>
        <img src="truck-white.png" alt="" class="button-item2">
    </header>


    <h3>Team members</h3>
    <a href="https://github.com/dluo6">Danlin Luo</a> <br>
    <a href="https://github.com/felissedano">Felis Sedano</a> <br>
    <a href="htpps://github.com/jlc25">Jing-Ling Chen</a> <br>
    <a href="https://github.com/priyanshu345">Priyanshu Bhandari</a> <br>

    <h3>Resources</h3>
    <a href="https://www.pexels.com/photo/white-volvo-semi-truck-on-side-of-road-2199293/">Beautiful truck</a> <br>
    <a href="https://www.flaticon.com/authors/arif-miftahul-anwar">Truck Icon</a>
</body>
</html>