<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="fixed-page-header"> 
        Website by <a href="credits.html"> &nbsp; CodeJam on Pancakes</a>
    </header>



    <div class="landing">
        <img src="beautiful-truck.jpg" alt="" id="beautiful-truck">
        <div class="landing-main-content">
            <h2>123LoadBoard Challenge X CodeJam23</h2>
        </div>
    </div>

    <div class="start-simulation">
        <div class="left">
            <h3>The CodeJam 2023 123LeaderBoard Challenge</h3>
            <p>Presented by ColdJam on Pancakes, this website displays the notifications sent to truckers and allows for filtering based on the truck id.</p>
        </div>
        <div class="right">
            <p>To simulate a new day, click on "Simulate"</p>
                <a href="simulation.html">
                    <button>
                        <div class="button-item1">
                            Simulate &nbsp;
                        </div>
                        <img src="truck-white.png" alt="" class="button-item2">
                    </button>
                </a>
        </div>
    </div>

    
</body>
</html>