<!DOCTYPE html>
<html lang="en">
<head>
    <title>Simulation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>

    </header>

    <!-- <div class="job-post">
        Number of loads available: {{numloads|length}}
        Price = {{price}}

    </div>

    <table>
        <th></th>
        {% for load in loads %}
            <tr>{{load}}

            </tr>
        {%end for%}
    </table>   -->

    <p>Example of what it's supposed to look like below</p>

    <div class="simulation-content">
        <table>
            <tr>
                <th>Time posted</th>
                <th>Profit</th>
                <th>Distance</th>
            </tr>
            <tr>
                <td>text</td>
                <td>text</td>
                <td>text</td>
            </tr>
            <tr>
                <td>text</td>
                <td>text</td>
                <td>text</td>
            </tr>            
        </table> 
    </div>


</body>
</html>